{% macro header(title, image, type) %}
	{% if type %}
		{% set titleType = type %}
	{% else %}
		{% set titleType = '1' %}
	{% endif %}
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="header__content">
						<div class="header__breadcrumbs">{{ function('bcn_display') }}</div>
						<h{{titleType}} class="header__title title-md">{{title}}</h{{titleType}}>
					</div>
				</div>
			</div>
		</div>
		<div class="header__bg" style="background-image: url({{image}})"></div>
	</header>
{% endmacro %}
{% macro review(class, post) %}
	<div class="review {{class}}">
		<div class="review__header">
			<p class="review__header-category">{{ post.terms('category') | join(', ') }}</p>
			<h3 class="review__header-name">{{post.name}}</h3>
		</div>
		<div class="review__content">
			{% if post.get_field('video') %}
				<a href="{{post.link}}" class="review__content-link">
					<img src="{{post.thumbnail|resize(560,320)}}" alt="{{post.name}}" class="review__content-image">
				</a>
			{% else %}
				<div class="review__content-info">
					<img src="{{post.thumbnail|resize(126,126)}}" alt="{{post.name}}" class="review__content-info-image">
					<div class="review__content-info-body">
						<div class="review__content-info-body-excerpt">{{post.preview.read_more('').end('').length(20)}}</div>
						<a href="{{post.link}}" class="review__content-info-body-link">Читать полностью</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}